<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PySearch</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style-home.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='claude.js') }}"
      defer
    ></script>
  </head>
  <body>
    <style>
      body {
        background-image: url("{{ image }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
    <div class="search">
      <div class="icon-wrapper">
        <a href="/">
          <img
            class="python-logo"
            src="{{ url_for('static', filename='python-powered.svg') }}"
            alt="Python Logo"
            width="80px"
        /></a>
      </div>
      <form action="/search" method="GET" class="searchbar">
        <input
          autocomplete="off"
          value="{{value}}"
          type="text"
          name="q"
          id="query"
          placeholder="Rechercher..."
        />
        <div class="searches">
          <button type="submit">
            <i title="Rechercher" class="fa-solid fa-magnifying-glass"></i>
          </button>
          <button type="button" id="claude">
            <img
              title="Rechercher avec Claude"
              src="{{ url_for('static', filename='claude.svg') }}"
              alt="Claude Logo"
              width="20px"
              style="cursor: pointer"
            />
          </button>
        </div>
      </form>
    </div>
    <div class="actu">
      <div class="articles">
        {% for a in articles %}
        <article>
          <a target="_blank" class="infos" href="{{a[1]}}" title="{{a[2]}}">
            <div class="preview">
              <img src="{{a[3]}}" alt="{{a[0]}}" loading="lazy" />
            </div>
            <h2 class="title">{{a[0]}}</h2>
            <div
              class="expand-link"
              onclick="window.open(`http://192.168.1.17:8042/sources?q={{a[2]}}`, `_blank`)"
            >
              Développer le sujet
            </div>
          </a>
        </article>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
